/* GOOGLE MAPS STUFF */

#map-canvas{height: 100%}

/* Misc */

.floatnone {float: none;}

.float-left {float:left;}

.clearfix:after {clear:both; content:"."; display:block; height:0; line-height:0; visibility:hidden;}

.clearit {clear: both;font-size: 0;line-height: 0;height: 0;}

.clear-both {clear: both;}

.add-bottom-margin {margin-bottom:25px;}

::selection {background: #FF4F2C; /* Safari */ }
::-moz-selection {background: #FF4F2C; /* Firefox */}

/* Background Colors ---------------------------------------------------------------- */

.bgred{background-color: #FF6633;}

.bgcred{background-color: #fd3713;}

.bgblue{background-color: #0099CC;}

.bgyellow{background-color: #ffcc00;}

.bgcreme{background-color: #EFE7BE;}

.bgwhite{background-color: #f4f3f1;}

.bgblack{background-color: #1b0000;}

.orangeborder{border: 3px solid rgba(255,154,0,0.7);}

.purpleborder{border: 3px solid rgba(131,0,171,0.7);}

.redborder{border: 3px solid rgba(255,0,0,0.61);}

.greenborder{border: 3px solid rgba(0,128,0,0.57);}

.blueborder{border: 3px solid rgba(0,0,255,0.72);}

/* Layout ----------------------------------------------------------------- */

body {background-color: #ffffff; height:100%; position:relative;}


/* Typography ----------------------------------------------------------------- */

/* 1em = 10px. Super easy Right? 945px = 94.5em -------------------------------------------- */



body {font-size: 62.5%;/*10px*/ line-height: 1.375em ; color: #333333; font-family: "soleil", "Avenir LT Std", Helvetica, sans-serif;  }

h1 {
	font-size: 5.25em;/*46px*/
	line-height: 1.2em;
	letter-spacing: 1.6;
	font-weight: normal;
	font-family: "soleil", "Avenir LT Std", Helvetica, sans-serif;
	font-weight: 800;
	margin: 55px auto 32px auto;
	text-align: center;
	}
	
	
h2 {font-size: 3.5em;/*20px*/
	line-height: 1.33em;
	font-weight: normal;

	
h2 {font-size: 3.5em;/*35px*/line-height: 1.33em;font-weight: normal;font-family: "Avenir LT Std", Helvetica;margin: 0 0 17px 0;}


	font-family: "soleil", "Avenir LT Std", Helvetica, sans-serif;
	margin: 0 0 17px 0;

}



h3 {font-size: 2em;/*16px*/
	font-weight: normal;
	letter-spacing: 1.5;	
	font-family: "soleil", "Avenir LT Std", Helvetica, sans-serif;
	font-weight: 800;}




h4 {font-size: 1.3125em;/*21px*/ font-weight: normal;  }

h5 {font-family: Helvetica, Arial, sans-serif; font-size: 15px;/*48px*/ color:#888888; font-weight: bold; text-transform: uppercase; letter-spacing: 1px; line-height: 22px;  margin-bottom: 11px;}

p{font-size: 1.6em;/*16px*/line-height: 120%;font-weight: lighter;font-family: "Avenir LT Std", Helvetica arial sans-serif;}

h5 {font-family: "soleil", "Avenir LT Std", Helvetica, sans-serif; font-size: 15px;/*48px*/ color:#888888; font-weight: bold; text-transform: uppercase; letter-spacing: 1px; line-height: 22px;  margin-bottom: 11px;}

ul, ol {margin-bottom: 0px;margin-bottom: 1.2em;}

li {margin-left: 0px;text-decoration: none;}


p{
	font-size: 1.6em;/*16px*/
	line-height: 120%;
	font-weight: lighter;
	font-family: "soleil", "Avenir LT Std", Helvetica, sans-serif;	
	}



li {margin-left: 0px;
	text-decoration: none;
}

a {text-decoration: none; color: gold;
	
li {margin-left: 0px;}

a {text-decoration: none;color: #888888;
  -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
          transition: all 0.3s ease;	
}	



li a:hover{
	
	color:green; 


}

nav{

}	
	a{
		color: white;
		  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
          transition: all 0.3s ease;
		
	}
}	
	

a:hover {
			 color: white;
	  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.caps {text-transform: uppercase; letter-spacing: 0.1em; font-size: .8em;}

.blockQuote{
	
	font-size: 3.3em;/*33px*/
	line-height: 120%;;
	font-weight: normal;
	font-family: "soleil", "Avenir LT Std", Helvetica, sans-serif;
	margin: 50px 40px;

}



/* Variables ----------------------------------------------------------------- */

$red: #A71D36;
$grey: #333333;
$yellow: #F9D016;
$white: #FFFFFF;
$maxWin: 100%;
$rightHi: ($maxWin - 10);



/* Universal ----------------------------------------------------------------- */


#wrapper{width: auto; margin: 0 auto;}

#content{margin:50px auto 0 auto;}	

.float_right{float: right;}

/* Header ----------------------------------------------------------------- */

header{margin: 0; background-color: $grey; height: 800; text-align:center;}

.headingWrapper{ width: auto; margin: 0 auto; h3{font-weight: lighter;}	}

#wrapper{width: 100%; overflow: hidden;}




.pattern{
	width: 1200px;
	height: $rightHi;
	top: 0;
	left: 50%;
	margin-left: -600px;
	display: block;
	position: absolute;
	background: transparent url('../../images/overlay_pattern.png') repeat;
	opacity: .25;
	z-index: 600;	
}





.splash{
	width: 100%;
	height: $rightHi;
	overflow: hidden;
}

.sectionHeader{
	color: $white;
	margin: 0 auto;
	z-index: 50;
	height:17.7em;	
}




.splashHeader{
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -600px;	
	text-align: center;
}




.sectionHeaderSub{margin: 0 2em 0 0;color: $white;}



/*---------SLIDESHOW--------------------------------*/








/*----------Slideshow Text-----------------------------------------------------*/
.splashSlideshow{

	display: block;
	position: absolute;
	width: 1200px;
	height: $rightHi;
	overflow: hidden;
	left: 50%;
	margin-left: -600px;
	z-index: 50;

}




.slide{
	display: block;
	width: 100%;
	}

.splashHeader{
    position:absolute;
    top:45%;
    left: 50%;
    margin-left: -600px;
    background-color: rgba(150, 20, 40, .85);
	width: 100%;
    	
    	H1{	text-align: center;
	    	display: block;
	    	width: 1120;
	    	margin: 44px 40px 16px 44px;
	    	padding: 14px 0 0px 0;
	    	border-top:1px solid $white;
    	}

    	h3{
	    	margin-top: 14px;
	    	
	    	}


    }
    
    .lowerRow1{
	    display:block;
	    float: left;
	    width: 525px;
	    height: 1px;
	    background-color: $white;
	    margin-left: 40px;
    }

    .lowerRow2{
	    display:block;
	    float: right;
	    width: 525px;
	    height: 1px;
	    background-color: $white;
	    margin-right: 40px;
    }
   .splashIcon{
	   display: inline-block;
	   float: right;
	   max-width: 40px;
	   max-height: 40px;
		margin: -20px 15px 0 15px;	   
		
   }



/*------------------------------------ NEW SLIDESHOW IMAGES ----------------------------------------- */


.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }


/*---------------------------------------- END SLIDESHOW ------------------------------------- */




/* Nav ----------------------------------------------------------------- */

.navWrapper{	

	display: block;
	margin: 0 auto;
	width: auto;
	height: 7.45em;
	z-index: 1000;	
}


nav{
	width: auto;
	margin: -90px auto 0 auto;
	text-align: center;
	z-index: 4000;
	position: relative;

		
	
			
}

nav:after {
	position: absolute;
	margin: 0 auto;
	display: block;
	position: absolute;
		.navWrapper{
		
			left: 50%;
			margin-left: -48em;	
			height: 7.45em;
			z-index: 1000;				
			}
	}	





.navlogo{
	display: block;
	width: 12em;
	height: 7.5em;
	float: left;
	background: transparent url('../../images/velo_gioielli_branding.png') no-repeat 0 0;
	
	
}










.nav{
	display: block;
	font-family: "soleil", "Avenir LT Std", Helvetica, sans-serif;
	font-size: 1.6em;
	z-index: 1000;
	color: $white;	
	padding: 2em 0;
	margin: 0 auto;
	text-align: center;


	li{
		margin: 0 1.4em;
		
	}
	
	.noMarginLeft{
		margin: 0 1.4em 0 0;
		
		
	}

}



.navBar{	
		z-index: 1000;
	display: block;
	margin: 0 auto;
	width: auto;
	height: 7.45em;
	background: #333;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 1.00);
	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 1.00);
	-webkit-box-shadow:  0px 0px 5px rgba(0, 0, 0, 1.00);
	overflow: hidden;
}




.navButton{
cursor: pointer;	
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;	
	
}

.navButton:hover{
color: $yellow;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;	
}


	
nav a{
text-align: center;
margin: -.9em;	
	
	
}	

	



.bgred{
	
	background: $red;
	text-align: center;
	padding: 2em .95em ;
	
	
}

.cleanbgred{
	background-color: $red ;
	
	
}


/* Main ----------------------------------------------------------------- */

/*.velo{
	position: absolute;
	left: 50%;
	margin-left: -480px;	
}
*/

.aboutHeader{
	display: block;
	height: 18em;
	background: transparent url("../../images/banner.png") no-repeat 0 0;
	
	
}

.aboutSection{	


}

.attributeHeading{
	text-align: center;
	padding: 1em 0;
	margin-bottom: 1em;
	border-bottom: $grey solid .5px;
}



.attributeImage{
	width:9em;
	height:9em;
	margin:auto;
	
	
	
}

.attributes{
	
	font-size: .9em; 
}




/* --COLLECTION-------------------------------------------------------------------------- */




.collectionSection{


}


.lifestylePic{
		display:block;
		margin: 50px 10px 0 10px;
	}
	
	
.collectionHeader{
	display: block;
	height: 18em;
	background: transparent url("../../images/banner2.png") no-repeat 0 0;
	margin: 5em auto 0 auto;
	
	
}
	


	.collectionSubhead{
		display: block;
		float: left;
			h1{text-align: left;
				margin: 50px 0;			
				letter-spacing: 1;
				}
		
	}


.collectionDescription{
		display: block;
		margin: 50px 0 0 10px;
		
		
	}
	
	.collectionImage{
		display: block;
		
	}
	
	.collectionTitle{
		display: block;
		width: 300px;
		margin:0 0 50px 0;
		padding: 10px 10px 0 10px;		
			
	}
	
	
		h2 a{
		
		color: $red;
		  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
	}
	
	
	h2 a:hover{
		
		color: $yellow;
		  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
	}


/* --CONNECTION-------------------------------------------------------------------------- */



.connectionSection{
	.retailLocations{
		padding: 5em 0;
		}

	.locations{
	font-weight: normal;
	line-height: 200%;
	font-family: "soleil", "Avenir LT Std", Helvetica, sans-serif;	
	
		ul{
			font-size: 1.6em;/*16px*/
			line-height: 200%;
			font-weight: lighter;
			font-family: "soleil", "Avenir LT Std", Helvetica, sans-serif;	
			}	
			
			a{
				color: $red; 
				
			}
			
			a:hover{
				color: $yellow; 
				
			}
			
			

		.contact{
			margin:90px 0 0 0;
				h3{
					margin-bottom: 10px;
					}
			}	
		.facebook{
			border-bottom: .5px solid $grey;
			border-top: .5px solid $grey;
			margin-right:100px;
			padding:10px 0 ;			
			}
		.facebookIcon{
			display: inline-block;
			float: left;
			margin:	0 10px 0 0;
			background: transparent url(images/facebookIcon.jpg) no-repeat 0 0;
			}	
	margin-bottom: 80px;
	}
	.googleMap{
	display: block;
	height: 45em;
	background: #DDD;	
	}
}



.connectionHeader{
		background: transparent url("../../images/banner3.png") no-repeat 0 0;
}




.contact a{
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;	
	
}


	
p{
	
	a:hover{
	color: $yellow;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
		
	}
}	
/* Footer ----------------------------------------------------------------- */


.footerWrapper{
		width: auto;
		height: 19em;
		background: #333333;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 1.00);
	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 1.00);
	-webkit-box-shadow:  0px 0px 5px rgba(0, 0, 0, 1.00);
		
		

	.footer{
		padding: 46px 0 0 0;
		color: $white;
		
			p{
				margin-top:20px;
				}
		 
		 a{
			 color: $yellow;
			 		
  -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
          transition: all 0.3s ease;
		 }
		 
		 a:hover{
			 color: #A71D36;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
		 }
	}		
}
bottomFooter{
	margin-top: 5px;
	}

/* ----- JS Styles--------------------------------------------------------- */
.fixed {
    position:fixed;
    width: 100%;
    margin:0 auto;
    }



.navGap{
	margin-top: 90px;	
	}
	
	

/* Media Queries----------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width: 905px) and (max-width: 1085px)  {


.container_12 .grid_3{
width:200px;
}



}

@media screen and (min-width: 700px) and (max-width: 905px)  {


.container_12{
width:615px;
}

.container_12 .grid_3{
width:150px;
}

}

@media screen and (min-width: 440px) and (max-width: 700px)  {


.aboutSection{	
	width: 670px; 
	font-size: .9em; 

}	


}

@media screen and (min-width: 100px) and (max-width: 440px)  {
	
	

	.aboutSection{	
	width: 440px;
	margin-left: -10px;
	font-size: .7em; 

}	
.aboutHeader{
	width: 440px;
	margin: 0 0 0 -5px;
	 } 
	

.attributeHeading{
	display:none; 
	}
	
	
	.navBar{width: 440px;
		margin: 0 0 0 -5px;
	}


.navButton {
	
		margin: 0 0 0 -50px;
		
	}


.container_12{
width:580px;
margin: 0 0 0 50px; 
}

.attributeImage{
	
	width:6em;
	height:6em;
	margin: inherit;
	display: inline-block;
	
	
}



.attributes p{
	display: none; 
	
}

.collectionSubhead{display:none;}

.lifestylePic{display: none;}


.collectionDescription{
		font-size: .7em;
		
		}
		

.footerWrapper{
	
	width: 440px; 
	
}


		.grid_2{
		display:none; 
	}
		.purchaseSubhead{
		display:none; 
	}
	.wholesaleInfo{margin: 0 -280px; }
	
	
	.shipping{
		display:none; 
	}
	.payment{
		display:none; 
	}
	.returns{
		display:none; 
	}
	.copyright {float: left; clear: both; margin: 0 -50px 10px;}
	
	.wholesaleSubhead{margin: -10px 0 0 30px;}
	
	.map
	{display: none;}
	
	.googleMap {display:none;}
	
	
	
	.retailLocations{margin: 0 0 0 70px;}
	.locations{margin: 0 0 0 70px;}
	
	.connectionHeader {width: 440px;
	margin: 0 0 0 -1px; }
	.collectionHeader {width: 440px;
	margin: 0 0 0 -1px; }
}

@media screen and (min-width: 50px) and (max-width: 100px)  {
	
	
}


/** iPhone (landscape) **/
@media screen and (max-width: 480px) {}

/** iPhone (portrait) **/
@media screen and (max-width: 320px) {
	
		

	
	
	
}

/** iPhone 4 **/
@media only screen and (-webkit-min-device-pixel-ratio : 1.5),
  only screen and (min-device-pixel-ratio : 1.5) {

  
  
}

/** iphone5 and ipod touch 5th gen **/
@media (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) {}















